$colors: (
	body: #fff,
	header: #eceef4,
	primary: #007bff,
	secondary: #a5abc5
);

$general_transition: all .5s;

$header_height: 440px;

@function color($var, $key) {
	@return map-get($var, $key);
}